.profile-info{
    width: 100vw;
    display: block;
    align-items: center;
    min-height: 100vh;
}

.profile-text-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2vmin;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 7vh;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--color-blackolive);
    border-width: 1vmin;

}

.profile-info-item {
    display: flex;
    justify-content: space-between;
    font-size: 2.5vmin;
}

.profile-info-item-name {
    color: var(--color-blackolive);
}

.profile-info-item-value {
    color: var(--color-blackolive);
}

.profile-button-container {
    display: flex;
    align-self: center;
}
